div {
    display: flex;
    flex-direction: column;
}

body {
    background-image: url('/images/sunset.jpg');
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-align: center;
}

#overlay {
    display: block;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#home {
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 5px black;
    color: white;
}

h1 {
    margin: 0;
}

#home img {
    border-radius: 50%;
    height: 175px;
    width: auto;
    margin: 30px;
}

#home h1 {
    font-size: 50px;

}

#home a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 52px;
    width: 52px;
    font-size: 30px;
    border-radius: 50%;
    background-color: white;
    color: black;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
}

#links {
    flex-direction: row;
}

#fadeIn {
    height: 75px;
    background: linear-gradient(#0000, #222);
}

#about {
    color: #a185c5;
    text-align: center;
    background-color: #222;
    padding: 50px 0;
    align-items: center;
}

#about h1 {
    margin-bottom: 10px;
}

#about a {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: black;
    background-color: #a185c5;

    margin: 20px;
    max-width: 200px;
    width: 100%;

}