i {
    height: 52px;
    width: 52px;
    font-size: 30px;
    border-radius: 50%;
    background-color: rgb(255, 235, 219);
    color: black;
    padding-top: 17px;
    padding-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 2px 2px black;
    text-align: center;
}

.text-white {
    background-image: url("Ben.jpg");
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */
    height: 500px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

i:hover {
    background-color: rgb(255, 209, 172);
}